<html>
<title>{{title}}</title>
<head>{{>header}}</head>
<body class="container">
    <div class="text-center"><h1>Fitness Page</h1></div>
    <div class="text-center"><img src="/image/fitness1" alt="fitness image" width="500" height="600" class="center"></div>
    <div class="text-center"><img src="/image/fitness2" alt="fitness image 2" width="500" height="600" class="center"></div>
</body>
</html>