<html>
<title>{{title}}</title>
<head>{{>header}}</head>
<body class="container">
    <div class="text-center"><h1>Fitness</h1></div>
    <br>
    <br>
    <div class="text-center">
    <p>
        <b>Body Composition</b> <br> Refers primarily to the distribution of muscle and fat in the body. Body size such as height, lengths and girths are also grouped under this component.
       <br>
       <b>Muscular Strength</b> <br> The ability to carry out work against a resistance.
       <br>
        <b>Muscular Endurance</b> <br> the ability to repeat a series of muscle contractions without fatiguing.
       <br>
        <b>Power</b> <br> The ability to exert a maximal force in as short a time as possible, as in accelerating, jumping and throwing implements.
        <br>
        <b>Speed / Quickness</b> <br> The ability to move quickly across the ground or move limbs rapidly to grab or throw.
        <br>
        <b>Agility </b> <br> The ability to quickly change body position or direction of the body.
        <br>
        <b>Flexibility </b> <br> The capacity of a joint to move through its full range of motion, which is important for execution of the techniques of sports.
        <br>
        <b>Balance and Coordination </b> <br> The ability to stay upright or stay in control of body movement, an important component of many sports skills.
        <br>
        <b>Cardiovascular Endurance </b> <br> or aerobic fitness, stamina, is the ability to exercise continuously for extended periods without tiring.
        <br>
        <b>Motor Skill </b> <br> Gross motor skills are the basic skills developed when young, which can be developed upon with specific sports skills training.
        <br>
    </p>
    </div>
    <br>
    <div class="text-center"><img src="/image/fitness1" alt="fitness image" width="500" height="600" class="center"></div>
    <br>
    <div class="text-center"><img src="/image/fitness2" alt="fitness image 2" width="500" height="600" class="center"></div>
</body>
</html>