<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Your Fitness Pal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/goals">My Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Create Goal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/editGoal">Update Goal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleteGoal">Delete Goal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fitness">Fitness</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lifestyle">Lifestyle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nutrition">Nutrition</a>
      </li>
    </ul>
  </div>
</nav>
</header>
</html>

