<html>
<title>{{title}}</title>
<head>{{>header}}</head>
<body class="container">
    <div class="text-center"><h1>Lifestyle Page</h1></div>
    <div class="text-center"><img src="/image/lifestyle1.jpeg" alt="lifestyle image 1" width="500" height="600" class="center"></div>
</body>

</html>ç