<html>
<title>{{title}}</title>
<head>
 {{>header}}
</head>

<body class="container">
    <div class="text-center"><h2>Create goal</h2></div>
    <form method="post" role="form" action="/new">    
        <div class="form-group">
            {{user-name-error}}
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <br>
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Author" required>
            </div>
            <br>
            <label for="contents">Details</label>
            <input type="text" class="form-control" id="contents" name="contents" placeholder="Details" required>
            </div>
            <br>
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Category" required>
            </div>
            <br>
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" name="status" placeholder="Status" required>
            <br>
            <input type="submit" value="register" class="btn btn-primary">
            </div>
        </div>
    </form>
</body>
</html>