<html>
<title>{{title}}</title>
<head>{{>header}}</head>
<body class="container">
    <div class="text-center"><h1>Nutrition Page</h1></div>
    <div class="text-center"><img src="/image/nutrition.png" alt="nutrition image 1" width="500" height="600" class="center"></div>
    <br>
    <br>
    <div><h3>Protein</h3><br>
    <p>What is protein? Protein is a macronutrient – macronutrients (sometimes called 'macros') are the nutrients we need in larger amounts that provide us with calories and includes protein, fat and carbohydrate. Proteins are made up of chains of amino acids, the building blocks of protein.</p>
    </div>
    <br>
     <div><h3>Carbohydrates</h3><br>
    <p>Carbohydrates, or carbs, are sugar molecules. Along with proteins and fats, carbohydrates are one of three main nutrients found in foods and drinks. Your body breaks down carbohydrates into glucose. Glucose, or blood sugar, is the main source of energy for your body's cells, tissues, and organs.</p>
    </div>
    <br>
     <div><h3>Fats</h3><br>
    <p>Fats are a type of nutrient that you get from your diet. It is essential to eat some fats, though it is also harmful to eat too much. The fats you eat give your body energy that it needs to work properly. During exercise, your body uses calories from carbohydrates you have eaten.</p>
    </div>
</body>
</html>